<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand text-white" routerLink="home">Front-Angular</a>

  <form class="form-inline">
    <div class="form-group">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    </div>
  </form>

  <a class="btn btn-danger cursor text-light" (click)="onLogout()">Sair</a>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" [routerLinkActive]="['active']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" [routerLinkActive]="['active']">About</a>
        </li>
      </ul>
    </nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
