<div class="container-fluid py-5 bg-dark register-site-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <span class="anchor" id="formLogin"></span>
          <div class="card card-outline-secondary">
            <div class="card-header">
              <h3 class="mb-0">
                <a class="text-dark" routerLink="login"><i class="fa fa-arrow-left mr-2"
                                                                     aria-hidden="true"></i></a>
                Registrar
              </h3>
            </div>
            <div class="card-block">

              <form class="form m-5" #form="ngForm" (ngSubmit)="form.form.valid && onRegister()" novalidate
                    autocomplete="off">

                <div class="form-group">
                  <label for="inputLogin1">Login</label>
                  <input type="text"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': form.submitted && !login.valid }"
                         [(ngModel)]="model.login"
                         #login="ngModel"
                         id="inputLogin1"
                         name="login"
                         aria-describedby="loginHelp"
                         placeholder="Login"
                         required>
                  <div class="invalid-feedback">Login obrigatório</div>
                </div>

                <div class="form-group">
                  <label for="inputPassword1">Senha</label>
                  <input type="password"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': form.submitted && !password.valid }"
                         [(ngModel)]="model.password"
                         #password="ngModel"
                         id="inputPassword1"
                         name="password"
                         placeholder="Senha"
                         required>
                  <div class="invalid-feedback">Senha obrigatória</div>
                </div>

                <div class="form-group">
                  <label for="inputName1">Nome</label>
                  <input type="text"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': form.submitted && !name.valid }"
                         [(ngModel)]="model.name"
                         #name="ngModel"
                         id="inputName1"
                         name="name"
                         aria-describedby="nameHelp"
                         placeholder="Nome"
                         required>
                  <div class="invalid-feedback">Nome obrigatório</div>
                </div>

                <div class="form-group">
                  <label for="inputSurname1">Sobrenome</label>
                  <input type="text"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': form.submitted && !surname.valid }"
                         [(ngModel)]="model.surname"
                         #surname="ngModel"
                         id="inputSurname1"
                         name="surname"
                         placeholder="Sobrenome"
                         required>
                  <div class="invalid-feedback">Sobrenome obrigatória</div>
                </div>

                <div class="form-group">
                  <label for="inputEmail1">Email</label>
                  <input type="email"
                         email
                         class="form-control"
                         [ngClass]="{ 'is-invalid': form.submitted && !email.valid }"
                         [(ngModel)]="model.username"
                         #email="ngModel"
                         id="inputEmail1"
                         name="email"
                         aria-describedby="emailHelp"
                         placeholder="Email"
                         required>
                  <div class="invalid-feedback" *ngIf="email.errors?.required">Email obrigatório</div>
                  <div class="invalid-feedback" *ngIf="email.errors?.email">Insira um email</div>
                </div>

                <button type="submit" [disabled]="!form.form.valid" class="btn btn-success btn-lg float-right m-2">
                  Registrar
                </button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
